/* Global */
html, 
body {
margin: 0px;
padding: 0px;
}
h1,
h2,
h3,
ul,
p{
margin: 0px;
}
ul {
margin: 0px;
padding: 0px;
}
a {   
font: inherit;
color: inherit;
text-decoration: none;
}
img {
height: auto;
display: block;
max-width: 100%;
}
::-webkit-scrollbar {
width: 7px;
background-color: rgb(35, 38, 41);
}
::-webkit-scrollbar-thumb {
background-color: var(--cor-p2);
border-radius: 30px;
}
::-webkit-scrollbar-track {
background-color: transparent;
}

/* Componentes */
.container {
box-sizing: border-box;
max-width: 850px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}
.center {
margin: auto;
text-align: center;
}

/* Cores */
:root {
--cor-0: #ffffff;
--cor-1: #FCFCFC;
--cor-2: #FAFAFA;
--cor-3: #F8F8F8;
--cor-4: #cccccc;
--cor-5: #b2b2b2;
--cor-6: #9c9c9c;
--cor-7: #717171;
--cor-8: #595959;
--cor-9: #404040;
--cor-10: #2e2e2e;
--cor-11: #1a1a1a;
--cor-12: #0e0e0e;
--cor-13: #000000;
--cor-p1: #3C184E;
--cor-p2: #CED9DF;
--cor-p3: #DE8E37;
--cor-p4: #166CC8;
}
.cor-0 {
color: var(--cor-0);
}
.cor-1 {
color: var(--cor-1);
}
.cor-2 {
color: var(--cor-2);
}
.cor-3 {
color: var(--cor-3);
}
.cor-4 {
color: var(--cor-4);
}
.cor-5 {
color: var(--cor-5);
}
.cor-6 {
color: var(--cor-6);
}
.cor-7 {
color: var(--cor-7);
}
.cor-8 {
color: var(--cor-8);
}
.cor-9 {
color: var(--cor-9);
}
.cor-10 {
color: var(--cor-10);
}
.cor-11 {
color: var(--cor-11);
}
.cor-12 {
color: var(--cor-12);
}
.cor-13 {
color: var(--cor-13);
}
.cor-p1 {
color: var(--cor-p1);
}
.cor-p2 {
color: var(--cor-p2);
}
.cor-p3 {
color: var(--cor-p3);
} 
.cor-p4 {
color: var(--cor-p4);
} 

/* Tipografia */
.font-1-xxl {
font: 700 3.75rem/1.16 sans-serif;
}
.font-1-xl {
font: 500 2.5rem/1.2 sans-serif; 
}
.font-1-l {
font: 400 2.25rem/0.83 sans-serif;
}
.font-1-ls {
font: 400 2.15rem/0.83 sans-serif;
}
.font-1-s {
font: 400 1.25rem/0.83 sans-serif;
}
.font-1-p {
font: 400 0.87rem/0.83 sans-serif;
}
.font-1-xs {
font: 400 0.75rem/0.83 sans-serif;
}

/* Introdução */
.introducao-bg {
background-image: url(../img/banner-topo.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 621px;
width: 100%;
}
.cabecalho {
max-width: 2000px;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
padding-bottom: 43px;
}
.cabecalho img {
width: 30px;
height: 30px;
padding-right: 10px;
}
.cabecalho-container {
display: flex; 
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
padding-top: 99px;
padding-bottom: 5px;
}
.cabecalho p {
text-align: left;
padding-left: 12px;
}
.container-principal {
max-width: 940px;
height: 335px;
background: rgb(255, 255, 255, 80%);
border-radius: 10px;
box-shadow: 0 0 40px 5px rgba(60, 24, 78, 25%);
}
.container-principal h1 {
padding: 56px 20px 54px 20px;
}
.container-principal ul li{
max-width: 246px;
height: 52px;
background: var(--cor-p1);
border-radius: 5px;
margin: auto;
margin-bottom: 41px;
}
.container-principal ul img{
max-width: 20px;
height: 20px;
padding-left: 5px;
}
.container-principal ul li a{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 0 auto;
max-width: 246px;
height: 52px;
}
@media (max-width: 1000px){
.container-principal {
height: auto;
}
.container-principal h1{
font-size: 2.5rem;
}
.container-principal {
padding-bottom: 20px;
}
}
/* Servicos */
.servicos {
padding-bottom: 30px;
}
.servicos h2 {
padding-top: 130px;
padding-bottom: 50px;
}
.servicos ul li + li{
padding-top: 27px;
}
.servicos ul {
list-style-type: square;
}
.servicos ul li:last-child{
padding-bottom: 10px;
}
.servicos .imagens img{
max-width: 150px;
height: 240px;
margin: 5px;
border-radius: 5px;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 25%);
}
.servicos .imagens {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
@media (max-width: 1000px){
.container-principal {
height: auto;
}
.container-principal h1{
font-size: 2.5rem;
}
}

/* Redes */
.redes-bg {
background: var(--cor-p1);
}
.redes {
width: 100%;
height: 443px;
}
.redes h2 {
padding-top: 118px;
padding-bottom: 70px;
}
.links-redes li img {
max-width: 50px;
height: 50px;
}
.links-redes{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
list-style: none;
}
.links-redes li + li{
padding-left: 47px;
}
@media (max-width: 1000px){
.redes h2 {
font-size: 2rem;
}
.redes {
height: auto;
}
.redes ul {
padding-bottom: 100px;
}
}
/* Marcas */
.marcas h2{
padding-top: 135px;
padding-bottom: 80px;
}
.imagens-marcas {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.imagens-marcas img {
width: 150px;
height: 150px;
padding: 20px;
}

/* Localização */
.localizacao h2{
padding-top: 130px;
padding-bottom: 55px;
}
.localizacao p{
padding-bottom: 50px;
}
.localizacao iframe{
max-width: 100%;
padding-bottom: 198px;
}
@media (max-width: 1000px){
.localizacao h2 {
font-size: 2rem;
padding-left: 20px;
padding-right: 20px;
}
.localizacao p {
font-size: 2rem;
padding-left: 20px;
padding-right: 20px;
}
}

/* footer */
.rodape-bg {
background: var(--cor-p1);
}
.rodape{
width: 100%;
height: 78px;
}
.rodape p {
padding-top: 17px;
padding-bottom: 13px;
}
.links-rodape img {
width: 20px;
height: 20px;
}
.links-rodape img + img {
padding-left: 5px;
}
.rodape .links-rodape {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}